@use "pkg:@divezone/divezone-web-styles" as dz;
@use "sass:map";
@use "pages";

// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

:root {
  // --font-family-base: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --transition-speed: 0.3s;
  --hero-gradient: linear-gradient(135deg, var(--theme-primary), var(--theme-secondary));
}

body {
  // font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include dz.theme(map.get(dz.$themes, green));

@media (prefers-color-scheme: dark) {
  @include dz.theme(map.get(dz.$themes, darkgreen));
}