@use '../themes/divezone/sass/index.scss' as dz;
@use "sass:map";
@use "components";
@use "pages";

:root {
  --transition-speed: 0.3s;
  --hero-gradient: linear-gradient(135deg, var(--theme-primary), var(--theme-secondary));
}

body {
  // font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include dz.theme(map.get(dz.$themes, green));

@media (prefers-color-scheme: dark) {
  @include dz.theme(map.get(dz.$themes, darkgreen));
}