---
layout: page
---
{% assign roles = role | split: ' / ' %}

<img src="/logos/{{ logo }}" align="right">

<ul>
  <li>
    <strong
      >Role
      {%- if roles.length > 1 -%}s{%- endif -%}
      :</strong
    >
  </li>
  {%- for r in roles -%}
    <li>{{ r }}</li>
  {%- endfor -%}
</ul>

{{ content }}
