.experience--categories {


    table {
        width: 100%;
    }

    .experience--category-label {
        text-align: start;
    }

    .experience--category-year, .experience--category-years, .experience--category-level {
        font-size: small;
        font-weight: 300;
    }

}