<footer>
    <div>© {% year %} {{ author | default: manifest.meta.author }}</div>
    <div class="trademarks">DevZone, DevZone Solutions and DevZone One are registered trademarks of The DiveZone Company</div>
</footer>