.footer--socials {
  a {
    color: darkgreen;
    font-size: var(--fs-500);
    text-decoration: none;
  }
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }

  #social-linkedin-me {
    color: olivedrab;
  }
}
