.main--portfolio-item {
  img {
    display: inline-block;
    padding: 32px 0 16px 16px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    padding: 0 16px;

    li:not(:has(strong)) {
      padding: 2px 4px;
      border: 1px dotted var(--theme-secondary);
      border-radius: 4px;
      font-size: small;
    }
  }

  ol {
    li {
      margin-bottom: 1em;
    }
  }
}

.portfolio--prev-next {
  display: flex;

  div {
    flex-grow: 1;

    a {
      color: var(--theme-primary);
    }
  }

  .back {
    text-align: center;
  }
  .next {
    text-align: end;
  }
}
