footer {
  max-width: 1000px;
  margin: 1rem auto;
  text-align: center;

  .footer--copyright {
    font-size: large;
    border-top: 1px solid darkgreen;
    border-bottom: 1px solid darkgreen;
    padding: 0.2rem;
    margin: 0.5rem 0;
  }

  .footer--fathom {
    font-size: x-small;
  }

  .footer--trademarks {
    font-size: small;
  }
}
